:root {
  --red: red;
  --red-lightest: color-mix(in srgb, var(--red), var(--white) 93%);
  --white: #ffffff;
  --black: #221f1f;
  --grey: #2a2626;
  --grey-lighter: color-mix(in srgb, var(--grey), var(--white) 70%);
  --grey-mid: color-mix(in srgb, var(--grey), var(--white) 30%);
  --blue-darkest: #192c34;
  --blue: #042686;
  --yellow: #f9f99e;
  --purple: #4c18f7;
  --purple-lighter: color-mix(in srgb, var(--purple), var(--white) 30%);
  --purple-lightest: color-mix(in srgb, var(--purple), var(--white) 80%);
  --purple-darker: color-mix(in srgb, var(--purple), var(--blue) 50%);
  --border-radius: 5px;
  --section-gap: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100svh;
  color: var(--grey);
  background: var(--white);
  line-height: 1.7;
  font-size: 18px;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.242em;
}

h3 {
  font-size: 0.7572em;
}

strong,
b {
  font-weight: 700;
}

a:not(.button),
a:visited:not(.button) {
  text-decoration: none;
  color: var(--purple);
  transition: 0.4s;
  padding: 2px;
}

a:hover,
a:focus {
  background-color: var(--purple-lightest);
}

.highlight {
  background-color: var(--yellow);
  padding: 2px;
}

.button {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--purple-lighter);
  color: var(--white);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.95rem;
  font-weight: 700;
  transition: 0.4s;
}

.button:hover,
.button:focus {
  background-color: var(--purple-darker);
}

.container {
  --inline-padding: 2rem;
  --content-max-width: 66ch;

  display: grid;
  grid-template-columns: 
    minmax(var(--inline-padding), 1fr) 
    [content-start] min(calc(100% - var(--inline-padding) * 2), var(--content-max-width))
    [content-end] 
    minmax(var(--inline-padding), 1fr);
}

.container > * {
  grid-column: content;
}
.container section {
  padding-block: var(--section-gap);
}

nav {
  font-size: 0.8em;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.nav-header {
  font-weight: 700;
  color: var(--purple);
}
.nav-details {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-details__user {
  display: flex;
  gap: 1.25rem;
}

.login-container {
  height: inherit;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-darkest);
}

.login-form {
  width: 100%;
  max-width: 47ch;
  background: var(--white);
  padding: 2rem 2.3rem;
  border-radius: calc(var(--border-radius) * 2);
}

.login-form > h1 {
  font-size: 1.7em;
}

form > * {
  margin-bottom: 1.5rem;
  font-family: inherit;
  font-size: 100%;
}

.required-input {
  display: flex;
}

.required-input span {
  display: inline-block;
  margin-left: 3px;
  font-weight: 300;
  color: var(--red);
}

label, label > *:not(small) {
  font-weight: 700;
  display: block;
  margin-bottom: 0.1rem;
}

input::placeholder {
  color: var(--grey-lighter);
}

input[type="text"],
input[type="password"], 
input[type="email"] {
  font-size: inherit;
  color: var(--grey-400);
  width: 100%;
  display: block;
  padding: 0.65rem;
  border: 1px solid var(--grey-lighter);
  border-radius: var(--border-radius);
}

.form-input-error {
  margin-block: 8px;
  font-size: 0.85em;
  padding: 0.56rem 1rem;
  background-color: var(--red-lightest);
  color: var(--red);
  border-radius: var(--border-radius);
}

.radio-container {
  border: 1px solid var(--grey-lighter);
  border-radius: calc(var(--border-radius) * 2);
  border-color: #ccc;
  padding: 0 1rem 1.5rem 1rem;
}
.radio-container__legend {
  font-size: 0.85em;
  padding: 0 0.5rem;
  font-weight: 700;
  color: var(--grey-400);
}
.radio-container__input {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.radio-container__input label > * {
  margin-left: 1rem;
  display: block;
}
.radio-container__input small {
  display: block;
  color: var(--grey-mid);
  font-size: 0.75em;
}

.faqs-container__question {
  margin-bottom: 1.6rem;
}
.faqs-container__question p:first-child {
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.842em;
  }
  
  h3 {
    font-size: 1.3572em;
  }
}